//import of variables used by bootstrap and pflueck

body {
  margin: 0;
  
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
  color: #000;
  background: #eaf3d2 url('../img/pflueck/cover-vector-weiss.png');   
  background-size: round auto;
  background-repeat: repeat-x;
}

a {
  color: #0088cc;
} 

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

.pages {
}

.page-header {
  border-bottom: 1pxpx solid #eeeeee;
}

.main-content {
  min-height: 400px;
}

.navbar-nav {
  background: #fff !important;
}

.navbar-inner {
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ffffff, endColorstr='#'ffffff, GradientType=0);
}

.navbar .brand {
  padding: 12px 20px 12px;
  font-size: 20px;
  color: #ddd;
}

.navbar .divider-vertical {
  height: 60px;
  background-color: #ffffff;
  border-right: 1px solid #ffffff;
}

.navbar .nav > li > a {
  padding: 14px 10px 14px;
  font-size: 14px;
  color: #000000;
}

.navbar .nav > li > a:hover {
  color: #000000;
}

.navbar-inner{
  background-color: #2c2c2c !important;
  background-image: none !important;
  background-repeat: no-repeat !important;
  filter: none !important;
}

.navbar {
  background: #fff;
  border: none;
}

.navbar-brand {
  width: 200px;
  height: 71px;
  color: #fff;
  background: #fff url("../img/pflueck/logo.png");
  margin: 12px 26px 26px 4px;
}

.principle p {
  padding: 2px 0px 4px 0px;
}

.principle {  
  font-size: 90%;
  vertical-align: top;
}

.principle div {
  height: 100%;
  min-height: 15em;  
}

.principle h2 {
  font-size: 160%;
  height: 2.6em;
}

.principle img {
  padding: 12px;
  height: 200px;
}

.section-header h2 {
  text-align: center;
  padding: 0;
  margin: 2px 0 1.3em 2em;
}

.section-header h3 {
  padding: 0;
  margin: 2px 0 0.3em 2em;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer a {
  color: #fff !important;
}

#footer {
  padding: 2em 10% 1em 10%;
  margin-top: 4em;  
  border-radius: 4px;
  color: #fff;
  background: #222;  
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .85), 0 1px 5px rgba(0, 0, 0, .5);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, .85), 0 1px 5px rgba(0, 0, 0, .5);
}

.opaque {
  opacity: 0.6;
}

.slightly-opaque {
  opacity: 0.8;
}

.content {
  margin-top: 50px;
}
a.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.angular-google-map-container {
  height: 200px;
  width: 100%; 
}

.small-map .angular-google-map-container {
  height: 100px;
  width: 100%;
}

.bigmap .angular-google-map-container {
  height: 400px;
  width: 100%;  
}

/* make google maps auto complete always appear on top */
.pac-container {
    z-index: 1200 !important;
}

.carousel {
  height: 100%;
  min-height: 240px;
}

.spaced {
  padding: 4px 24px 4px 24px;
}

input.ng-invalid, textarea.ng-invalid {
  border: 2px dotted orange;
}

.social-icon {
  width: auto;
  height: 30px;
}

#main-nav {
  margin: 22px 12px 0 22px;
}

div.growl-notifications {
  position: fixed;
  top: 20px;
  right: 5%;
  z-index: 1000;
  font-size: 120%;
  font-weight: bold;
  padding: 6px 6px 12px 6px;
  width: 300px;
}

.col {
margin-bottom: -99999px;
padding-bottom: 99999px;
}

.col-wrap{  
overflow: hidden;   
}
